
<link rel="stylesheet" href="~/css/‏StyleSheetCreate.css">


<form asp-action="Create" class="add">
    <div>
        <label class="name">Name</label>
        <input name="name" />
    </div>
    <div>
        <label>Description</label>
        <input name="description" />
    </div>
    <div>
        <label>Grade</label>
        <input name="grade" />
    </div>
    <div>
        <input type="submit" />
    </div>
</form>
