
body {
    font-family: Arial;
    margin: 0 auto; /* Center website */
    padding: 20px;
    background-image: url("unnamed.jpg");
    background-size: cover;
}

.heading {
    position:relative;
    left: 5px;
    font-size: 33px;
    margin-right: 25px;
    font-weight: bold;
}

.iconStar {
    position: relative;
    bottom: 10px;
    max-block-size: 30px;
}

.underHeading {
    text-shadow: 1px 1px #c7c7c7;
}

.average {
    position: relative;
    font-size: 80px;
    font-weight: bold;
    bottom: 200px;
    left: 15px;
}

.averageIcon {
    position: relative;
    max-block-size: 20px;
    padding-left: 0.5px;
}
/* Three column layout */
.side {
    float: left;
    width: 15%;
    margin-top: 30px;
}

.ratingStar {
    position: relative;
    max-block-size: 15px;
    padding-right:5px
}

.middle {
    position:relative;
    left: 30px;
    width: 70%;
    margin-top: 30px;
}

/* Place text to the right */
.right {
    text-align: right;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* The bar container */
.bar-container {
    width: 95%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
}

/* Individual bars */
.bar-5 {
    width: 83%;
    height: 18px;
    background-color: #04AA6D;
}

.bar-4 {
    width: 65%;
    height: 18px;
    background-color: #2196F3;
}

.bar-3 {
    width: 10%;
    height: 18px;
    background-color: #00bcd4;
}

.bar-2 {
    width: 4%;
    height: 18px;
    background-color: #ff9800;
}

.bar-1 {
    width: 15%;
    height: 18px;
    background-color: #f44336;
}

/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {
    .side, .middle {
        width: 100%;
    }
    /* Hide the right column on small screens */
    .right {
        display: none;
    }
}

.seperateReview {
    height:25px
}


.reviews {
    position: relative;
    top: 120px;
    font-size: 50px;
    font-weight: 100;
    font-family: Arial, sans-serif;
    text-shadow: 2px 1px #aaaaaa;
}

.gradeReview {
    position: absolute;
    left: 22%;
    font-size: 30px;
    text-shadow: 1.5px 1.5px #828282;
}

.listReviews {
    position: relative;
    bottom: 60px;
    left: 30px;
}

.detailsReview {
    font-size: 25px;
    font-weight: bold;
    
}

.nameReview {
    color: #000000;
}


.timeReview {
    font-size: 12px;
    color: #828282;
}

.dataReview {
    font-size: 15px;
    font-family: Arial, sans-serif;
    word-break: break-word;
}

.editReview {
    color:#686868;
}

.deleteReview {
    color: #686868;
}

.addReview {
    font-size: 20px;
    font-weight:800;
    position: relative;
    bottom: 50px;
    left: 40%;
    width: 50%;
    font-family: Arial;
    border-radius: 5px;
    box-shadow: #686868;
}

.ButtonaddReview {
    border-radius: 5px;
    color: #000000;
}

.searchBox {
    position: relative;
    width: 14%;
    font-size: 20px;
    top: 60px;
}

.search {
    position: relative;
    color: #686868;
    background-color:ActiveBorder;
    border: none;
}